{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'src/styles.css' %}" rel="stylesheet">
    <style>
        .bg-custom {
            background-image: url("{% static 'image/pi.jpeg' %}");
        }
    </style>
</head>
<body class="bg-custom bg-cover bg-center flex justify-center" >
   
    <div id="alertbox" class="h-24 w-screen bg-red-500 z-10 text-center text-white">{{message}}</div>
    <div id="'alertbox" class="h-24 w-screen "></div>
    <div class="h-[400px] w-[300px] absolute top-10 items-center justify-center bg-black bg-opacity-60 ">
        <h1 class="mb-10 mt-10 text-center text-2xl font-serif font-semibold text-white">LogIn</h1>
        <form  class="flex flex-col justify-center items-center" method="post">
            {% csrf_token %}
            <input type="text" class="w-[250px] h-6 text-center border-spacing-4 rounded-lg font-serif font-bold" placeholder="UserName" name="username" required><br>
            <input type="email" class="w-[250px] h-6 text-center border-spacing-4 rounded-lg font-serif font-bold" placeholder="Email" name="email" required><br>
            <input type="password" class="w-[250px] h-6 text-center border-spacing-4 rounded-lg font-serif font-bold" placeholder="Password" name="password" required>
            <button class="bg-slate-500 p-2 rounded-lg  hover:bg-slate-400  font-serif mt-5">Login</button>
        </form>
        <a href="{% url 'forgot_password' %}"><p class="underline text-white text-center mt-4">Forgot Password?</p></a>
    </div>
  
</body>
</html>