{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/hmac-sha256.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/enc-base64.min.js"></script>
</head>
<body>
    <h1>Product Detail</h1>
    <img src="{{product.image.url}}" alt="">
    <h2>{{product.name}}</h2>
    <p>{{product.price}}</p>
    <p>{{product.description}}</p>
    <form action="https://rc-epay.esewa.com.np/api/epay/main/v2/form" method="POST" onsubmit="generateSignature()" target="_blank">

        <tbody>

    
    <input type="hidden" id="amount" name="amount" value="{{price}}" class="form" required=""> <br>
        
        
    <input type="hidden" id="tax_amount" name="tax_amount" value="0" class="form" required="">
            


    <input type="hidden" id="total_amount" name="total_amount" value="{{price}}" class="form" required="">
        
        
    <input type="hidden" id="transaction_uuid" name="transaction_uuid" value="11-200-111sss1" class="form" required="">
        
    <input type="hidden" id="product_code" name="product_code" value="EPAYTEST" class="form" required="">


    <input type="hidden" id="product_service_charge" name="product_service_charge" value="0" class="form" required="">
        
    <input type="hidden" id="product_delivery_charge" name="product_delivery_charge" value="0" class="form" required="">
        
    <input type="hidden" id="success_url" name="success_url" value="https://google.com" class="form" required="">
        
    <input type="hidden" id="failure_url" name="failure_url" value="https://facebook.com" class="form" required="">
        
    <input type="hidden" id="signed_field_names" name="signed_field_names" value="total_amount,transaction_uuid,product_code" class="form" required="">
        
    <input type="hidden" id="signature" name="signature" value="4Ov7pCI1zIOdwtV2BRMUNjz1upIlT/COTxfLhWvVurE=" class="form" required="">
        
    <input type="hidden" id="secret" name="secret" value="8gBm/:&EnhH.1/q" class="form" required="">
            
    <input value="Pay " type="submit" class="button" style="display:block !important; background-color: red; cursor: pointer; color: #fff; border: none; padding: 5px 10px;">
    </form>


<script>
    // Function to auto-generate signature
    function generateSignature() {
        var currentTime = new Date();
        var formattedTime = currentTime.toISOString().slice(2, 10).replace(/-/g, '') + '-' + currentTime.getHours() +
            currentTime.getMinutes() + currentTime.getSeconds();
        document.getElementById("transaction_uuid").value = formattedTime;


        var total_amount = document.getElementById("total_amount").value;
        var transaction_uuid = document.getElementById("transaction_uuid").value;
        var product_code = document.getElementById("product_code").value;
        var secret = "8gBm/:&EnhH.1/q";

        var hash = CryptoJS.HmacSHA256(
            `total_amount=${total_amount},transaction_uuid=${transaction_uuid},product_code=${product_code}`,
            `${secret}`);
        var hashInBase64 = CryptoJS.enc.Base64.stringify(hash);
        document.getElementById("signature").value = hashInBase64;
    }

    // Event listeners to call generateSignature() when inputs are changed
    document.getElementById("total_amount").addEventListener("input", generateSignature);
    document.getElementById("transaction_uuid").addEventListener("input", generateSignature);
    document.getElementById("product_code").addEventListener("input", generateSignature);
    document.getElementById("secret").addEventListener("input", generateSignature);
</script>
</body>
</html>